<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Techsevin\Pincode\Model\ResourceModel\Pincode\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">shipment_patner_pincode_flat</argument>
            <argument name="resourceModel" xsi:type="string">Techsevin\Pincode\Model\ResourceModel\Pincode</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="grid_record_grid_list_data_source" xsi:type="string">Techsevin\Pincode\Model\ResourceModel\Pincode\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>