<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Techsevin\Customerfeedback\Model\ResourceModel\Customerfeedback\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">techsevin_customer_feedback</argument>
            <argument name="resourceModel" xsi:type="string">Techsevin\Customerfeedback\Model\ResourceModel\Customerfeedback</argument>
        </arguments>
    </virtualType>

    <virtualType name="TechsevinCustomerFeedbackGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Techsevin\Customerfeedback\Model\ResourceModel\Customerfeedback\Collection</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="customer_feedback_listing_data_source" xsi:type="string">Techsevin\Customerfeedback\Model\ResourceModel\Customerfeedback\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>