body {
    background-color: #518fb9;
}

.page-header .panel.wrapper {
    background-color: #518fb9;
    color: #ffffff;
}

@media (min-width: 768px){
    .page-footer {
        background-color: #518fb9;
    }
    .block.newsletter {
        display: inline-block !important;
        margin-left: 728px !important;
        margin-top: 10px !important;
    }
    .minicart-wrapper {
        margin-top: 10px !important;
    }
    .section-item-content {
    float:right !important;
}

}

.copyright {
    background-color: #518fb9;
}

.myproductGallery {
    background-color: #ffffff;
}
