<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Techsevin_HelloWorld::mymanager" title="HelloWorld" module="Techsevin_HelloWorld" sortOrder="10" resource="Techsevin_HelloWorld::mymanager" />

        <add id="Techsevin_HelloWorld::settings" title="Settings" translate="title" module="Techsevin_HelloWorld" parent="Techsevin_HelloWorld::mymanager" sortOrder="60" dependsOnModule="Techsevin_HelloWorld" resource="Techsevin_HelloWorld::settings"/>

        <add id="Techsevin_HelloWorld::helloword_config" title="Configuration" translate="title" module="Techsevin_HelloWorld" parent="Techsevin_HelloWorld::settings" sortOrder="10" dependsOnModule="Techsevin_HelloWorld" action="adminhtml/system_config/edit/section/helloword" resource="Techsevin_HelloWorld::helloword_config"/>

    </menu>
</config>
