<?xml version="1.0"?>
<!--
/** Grid menu xml
 * @category  Webkul
 * @package   Techsevin_Pincode
 * @author    Webkul
 * @copyright Copyright (c) 2010-2017 Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Techsevin_Pincode::mymanager" title="TechSevin" module="Techsevin_Pincode" sortOrder="10" resource="Techsevin_Pincode::mymanager" />

        <add id="Techsevin_Pincode::pincode" title="Pincode" module="Techsevin_Pincode" parent="Techsevin_Pincode::mymanager" sortOrder="10" resource="Techsevin_Pincode::pincode" />

        <add id="Techsevin_Pincode::add_row" title="Show Pincode" module="Techsevin_Pincode" sortOrder="20" parent="Techsevin_Pincode::pincode" action="grid/grid" resource="Techsevin_Pincode::add_row"/>

        <add id="Techsevin_Pincode::importpincode" title="Import Pincode" module="Techsevin_Pincode" sortOrder="20" parent="Techsevin_Pincode::pincode" action="grid/importpincode" resource="Techsevin_Pincode::importpincode"/>

        <add id="Techsevin_Pincode::settings" title="Settings" translate="title" module="Techsevin_Pincode" parent="Techsevin_Pincode::mymanager" sortOrder="60" dependsOnModule="Techsevin_Pincode" resource="Techsevin_Pincode::settings"/>

        <add id="Techsevin_Pincode::pincode_config" title="Configuration" translate="title" module="Techsevin_Pincode" parent="Techsevin_Pincode::settings" sortOrder="10" dependsOnModule="Techsevin_Pincode" action="adminhtml/system_config/edit/section/pincode" resource="Techsevin_Pincode::pincode_config"/>

    </menu>
</config>
